language: android
android:
  components:
  - build-tools-26.0.2
  - android-26
sudo: false
install: true
addons:
  sonarcloud:
    organization: 'arclights-github'
jdk:
  - oraclejdk8
script:
  - gradle sonarqube
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
    - '$HOME/.gradle'
    - '.gradle'